.navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
  font-weight: 700;
  min-height: 13vh;
  top: 7vh;
  z-index: 3000;
  background-color: #73a534 !important;
  color: white;


}
@media only screen and (max-width:1000px) {
  .rud{ 
    display: var(--add-collap); 
    overflow-y: auto;   
  }
  
}
@media only screen and (min-width:1000px) {
  .rud{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vh;
      
  }
  
}

.navbar-items {
  color: var(--navbar-scroll-text);
  margin-right: 5vh;
  margin-top: 3vh;
}

.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbarcustome
{
  
  /* position: fixed relative;
  top: 6vh;
  width: 100%;
  border: 1px solid;
  height: 10%;
  z-index: 1001; */
}

.navNotHome
{
  position:sticky !important;
  height: 20vh;
  background-color: white;
  color: black;
}

.nav-item
{
  color: white !important;
}

.navbar-brand
{
  margin-top: 2vh;
}

.loginbutton
{
  /* background-color: #73a534 !important; */
  /* margin-top:3vh; */
  color:black;
  font-family:bold;
  border: 1px solid #ffb600;
  border-radius: 15px;
  /* background-color: #ffb600; */
  margin-right:1vh;
  /* height: 3vh; */
}

/* .nav-bar-item-dropdown{
  display: var(--add-chil);
} */

.list-group a
{
  display: inline-block;
}

.list-group-flush a
{
  line-height: 3vh;
}

.listIcon
{
  display:inline-block;
  width:400px;
  /* background-color: red; */
  padding: 2vh;
  border:1px solid #ffb600;
}

li{
  white-space: nowrap !important;
  color: black !important;
}