<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="margin-top:7vh;">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img 
        src="../../../../assets/images/logo/ECXLogo.png"
        style="width: 10vh;"
        class="img-background"
      />
    </a>
    <button  class="navbar-toggler px-0 ms-auto" type="button"
        aria-controls="navbarExample3" aria-expanded="true"
        aria-label="Toggle navigation"
        (click)="toggleCollpse()"
        >
        <i class="fas fa-bars navbar-items"></i>
      </button>
    <div  class="rud collapse navbar-collapse" id="navbarScroll">
      <ul  class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="
        max-height: 70vh;
        
        " >
        <li  class="nav-item">
          <a class="nav-link navbar-items" href="#"></a>
        </li>
        <li class="nav-item dropdown position-static">
          <a
            (click)="toggleMenu(0)"
            class="nav-link dropdown-toggle navbar-items"
            id="navbarDropdown"
            role="button"
          >
            About Us
          </a>
          <!-- Dropdown menu -->
          <div
            
            class="dropdown-menu w-100 mt-0 nav-bar-item-dropdown"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; 
            box-shadow:0px 6px 12px -5px #000000;
            border-top-right-radius: 0; left: 0;display: block;"
            *ngIf="menuExpanded === 0"
            
          >
          <div class="container">
            <div class="row my-4">
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="list-group list-group-flush">
                  <a id="fg" href="" class="list-group-item list-group-item-action"><i
                       class="fas fa-caret-right pe-2"></i>Company Profile</a>
                  <a href="" class="list-group-item list-group-item-action"><i
                      class="fas fa-caret-right pe-2"></i>Corporate Statement</a>
                  <a href="" class="list-group-item list-group-item-action"><i
                      class="fas fa-caret-right pe-2"></i>Executive Leadership</a>
                  <a href="" class="list-group-item list-group-item-action"><i
                      class="fas fa-caret-right pe-2"></i>Board of Directors</a>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                <div class="list-group list-group-flush">
                  <a id="fg" href="" class="list-group-item list-group-item-action"><i
                       class="fas fa-caret-right pe-2"></i>Social Responsibility</a>
                  <a href="" class="list-group-item list-group-item-action"><i
                      class="fas fa-caret-right pe-2"></i>Organization Structure</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-items dropdown-toggle" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown position-static">
          <a
            (click)="toggleMenu(1)"
            class="nav-link dropdown-toggle navbar-items"
            id="navbarDropdown1"
            role="button"
          >
            Mega menu
          </a>
          <!-- Dropdown menu -->
          <div
          
            class="dropdown-menu w-100 mt-0 nav-bar-item-dropdown"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; 
            box-shadow:0px 6px 12px -5px #000000;
            border-top-right-radius: 0; left: 0;display: block;"
            *ngIf="menuExpanded === 1"
            
          >
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a id="fg" href="" class="list-group-item list-group-item-action"><i
                         class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a id="fg" href="" class="list-group-item list-group-item-action"><i
                         class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </li>
        <li class="nav-item dropdown position-static">
          <a
            (click)="toggleMenu(2)"
            class="nav-link dropdown-toggle navbar-items"
            id="navbarDropdown2"
            role="button"
          >
            Mega menu
          </a>
          <!-- Dropdown menu -->
          <div
            class="dropdown-menu w-100 mt-0 nav-bar-item-dropdown"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; 
            box-shadow:0px 6px 12px -5px #000000;
            border-top-right-radius: 0; left: 0;display: block;"
            *ngIf="menuExpanded === 2"
            
          >
            <div class="container" >
              <div class="row my-4">
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div  class="list-group list-group-flush">
                    <a id="fg" href="" class="list-group-item list-group-item-action"><i
                         class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a id="fg" href="" class="list-group-item list-group-item-action"><i
                         class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a id="fg" href="" class="list-group-item list-group-item-action"><i
                         class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                    <a href="" class="list-group-item list-group-item-action"><i
                        class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

