<div class="hwrap" style="margin-bottom: 20vh;">
    <div class="tickerNews">Commodity Price</div>
  <div *ngFor="let item of data" class="hmove">
        <div class="hitem">{{item.symbol}} &nbsp; {{item.clossingPrize}}  
          <i *ngIf="item.change > 0" class="fa fa-caret-up increaseIcon" aria-hidden="true"></i>
          <i *ngIf="item.change < 0" class="fa fa-caret-down decreaseIcon" aria-hidden="true"></i>
          <i *ngIf="item.change === 0" class="fa fa-caret-up constantIcon" aria-hidden="true"></i>
            <label *ngIf="item.change < 0">{{-1*item.change}}</label>
            <label *ngIf="item.change >= 0">{{item.change}}</label>
        </div>
  </div>
</div>
