.iconicImage
{
  width:2vh;
  height: 2vh;
}
.attachedList
{
display: flex;
justify-content: flex-start;
align-items:flex-start;
list-style: none;
}

.galleryHolder
{
   height: 600px;

}
.attachedList img { 
    width: 2vh;
    height: 2vh;
    margin: 1vh;
}
.img-container
{
    /* width:90vh; */
    height: 400px;
    padding: 3vh;
    /* border: 1px solid #ccc; */
}

.img-container img
{
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 7vh;
    border-radius: 15px;
}

.img-prev
{
    width: 90%;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    overflow-x: scroll;
  /* margin-bottom: 200vh; */
 
}

.img-slide
{
   
    width: 10vh;
    border-radius: 15px;
    margin: 0 1px;
    cursor: pointer;
    opacity: 1;
}
.img-slide img
{
   
    width: 10vh;
    height: 10vh;
    margin-right:30vh ;

}

.active
{
    border: 1px solid #ccc;
    opacity: 1;
}

.card{
    margin: 2vh 0; 
}
.contentHolder
{
    margin: 2vh 0;   
}
  
.card__body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: .1rem;
	/* height: 50px; */
  }

  .card__body p{

	height: 15vh;
  }
  
  
  .tag {
	align-self: flex-start;
	padding: .25em .75em;
	border-radius: 1em;
	font-size: .75rem;
  }
  
  .tag + .tag {
	margin-left: .5em;
  }
  
 
  
  .tag-brown {
	background:#ffb600;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
	color: #fafafa;
  }

  .card__body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
  }

  .card__header img
  {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
     height: 20vh;
     padding: 3vh;
	 /* width: 100vh; */
  }
  .card__footer {
	display: flex;
	padding: 1rem;
	margin-top: auto;
  }
  
  .user {
	display: flex;
	gap: 4rem;
  }

  
  .user__image {
	border-radius: 50%;
  }
  
  .user__info > small {
	color: #666;
  }

.newsHolder
{
    margin-bottom: 10vh;
}

@media (min-width: 970px) {
  .mobile{
    display: none;
  }
}

@media (max-width: 970px) {
  .Desktop{
    display: none;
  }
}
.source
{
  cursor:default !important;
}