<div class="detailAll">
  <div class="body-inner">
    <app-ticker></app-ticker>
    <app-header></app-header>
    <app-breadcrumbs
      [title]="data.title"
      [image]="data.imgName"
    ></app-breadcrumbs>

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <div class="sidebar sidebar-left">
              <div *ngIf="publications.length" class="widget">
                <h3 class="widget-title">Publications</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul *ngFor="let item of publications" class="attachedList">
                  <li>
                    <img src="../../../assets/images/attach.jpg" />
                    <a
                      (click)="DownloadFile(item.fileName, item.name)"
                      download
                      href="{{ downloadroute }}"
                      >{{ item.name }}</a
                    >
                  </li>
                </ul>
              </div>
              <div *ngIf="trainingDocument.length" class="widget">
                <h3 class="widget-title">Training Dcuments</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul *ngFor="let item of trainingDocument" class="attachedList">
                  <li>
                    <img src="../../../assets/images/attach.jpg" />
                    <a
                      (click)="DownloadFile(item.fileName, item.name)"
                      download
                      href="{{ downloadroute }}"
                      >{{ item.name }}</a
                    >
                  </li>
                </ul>
              </div>
              <div *ngIf="brouchure.length" class="widget">
                <h3 class="widget-title">Brouchure</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul *ngFor="let item of brouchure" class="attachedList">
                  <li>
                    <img src="../../../assets/images/attach.jpg" />
                    <a
                      (click)="DownloadFile(item.fileName, item.name)"
                      download
                      href="{{ downloadroute }}"
                      >{{ item.name }}</a
                    >
                  </li>
                </ul>
              </div>

              <div *ngIf="research.length" class="widget">
                <h3 class="widget-title">Research</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul *ngFor="let item of research" class="attachedList">
                  <li>
                    <img src="../../../assets/images/attach.jpg" />
                    <a
                      (click)="DownloadFile(item.fileName, item.name)"
                      download
                      href="{{ downloadroute }}"
                      >{{ item.name }}</a
                    >
                  </li>
                </ul>
              </div>
              <!-- Widget end -->
            </div>
            <!-- Sidebar end -->
          </div>
          <!-- Sidebar Col end -->

          <div class="col-xl-9 col-lg-8">
            <div class="content-inner-page">
              <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
              <div class="widget">
                <h3 class="widget-title">Announcement</h3>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <!-- <p>{{ data.description }}</p> -->
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12">
                  <div class="content-inner-page">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    <div class="widget galleryHolder">
                      <h3 class="widget-title">Gallery</h3>
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                          <div
                            *ngIf="galleryData.length > 0"
                            class=""
                          >
                            <div class="container">
                              <div class="img-container container">
                                <img
                                  class="mainImage"
                                  *ngIf="selectedImage == null"
                                  [src]="imagePath + galleryData[0].imgName"
                                />
                                <img
                                  class="mainImage"
                                  *ngIf="selectedImage != null"
                                  [src]="imagePath + selectedImage"
                                />

                                <div class="img-prev text-center">
                                  <div
                                    *ngFor="let item of galleryData"
                                    class="img-slide"
                                  >
                                    <img
                                      (click)="selectImage(item.imgName)"
                                      loading="lazy"
                                      [src]="imagePath + item.imgName"
                                      alt="project-slider-image"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- col end -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- col end -->
              </div>
              <!-- 1st row end-->
            </div>
            <!-- Content inner end -->

            <!-- Main row end -->
          </div>

          <!-- Content Col end -->
        </div>
        <!-- Main row end -->

       
       

        <!-- Main row end -->
      </div>
      <!-- Conatiner end -->
    </section>
    <!-- Main container end -->

    <app-footer></app-footer>
  </div>
</div>
