

.iconicImage
{
  width:2vh;
  height: 2vh;
}
.attachedList
{
display: flex;
justify-content: flex-start;
align-items:flex-start;
}
.attachedList img { 
    width: 2vh;
    height: 2vh;
    margin: 1vh;
}