<div  class="detailAll">
    <div class="body-inner">
  
      <app-ticker></app-ticker>
      <app-header></app-header> 
      <app-breadcrumbs [title]="title"></app-breadcrumbs>
  
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
  
          <div class="col-xl-3 col-lg-4">
            <div class="sidebar sidebar-left">
              <div class="widget">
                <h3 class="widget-title">Categories</h3>

                <ul class="nav service-menu"><li><a>News and Events</a></li></ul>
                <ul class="nav service-menu"><li><a>Resources </a></li></ul>
                <ul class="nav service-menu"><li><a>Announcements </a></li></ul>
            
              </div><!-- Widget end -->
  
  
            </div><!-- Sidebar end -->
          </div><!-- Sidebar Col end -->

          
             <div class="col-lg-8 col-xl-9">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper headlineImage">
                        <img loading="lazy" class="img-fluid" 
                        [src]="imagePath + media[0].imgName" alt="project-slider-image" />
                    </div>
                    <div class="d-flex">
                    
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a routerLink="service">{{media[0].title}}</a>&nbsp;&nbsp; {{media[0]?.createdDate.toString().split("T")[0]}}</h3>
                            <div class="newsDescriptionHolderHeadline" >
                                <p [innerHTML]="(media[0]?.description.length>500)? 
                                    (media[0]?.description | slice:0:500)+'  .  .  .':
                                    (media[0]?.description)" style="height: 6px;"></p>   
                            </div>  
                            <a class="learn-more d-inline-block" 
                            [routerLink]="['/service']"
                            [queryParams]="{ detail: media[0].title}"
                            aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->

                    <div class="row">
          
                        <div *ngFor="let item of media; let i=index" class=" col-lg-4 col-md-6 mb-5">
                        <div class="ts-service-box">
                            <div class="ts-service-image-wrapper">
                                <img loading="lazy" class="img-fluid" 
                                [src]="imagePath + item.imgName" alt="project-slider-image" />
                            </div>
                            <div class="d-flex">
                            
                                <div class="ts-service-info">
                                    <h3 class="service-box-title"><a routerLink="service">{{item.title}}</a></h3>
                                    <div class="newsDescriptionHolder"
                                         [ngClass]="{'newsDescriptionHolderMin':(item?.description.length < 400)}" >
                                        <p [innerHTML]="(item?.description.length>200)? 
                                            (item?.description | slice:0:200)+'  .  .  .':
                                            (item?.description)" style="height: 6px;"></p>   
                                    </div>
                                    <!-- <p>{{ (item?.description.length>200)? 
                                    (item?.description | slice:0:200)+'  .  .  .':
                                    (item?.description)}}</p> -->
                                 
                                    <a class="learn-more d-inline-block" 
                                    [routerLink]="['/service']"
                                    [queryParams]="{ detail: item.title}"
                                    aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                                </div>
                            </div>
                        </div><!-- Service1 end -->
                        </div><!-- Col 1 end -->
          
            
          
                     </div><!-- Main row end -->
           

             </div>


        </div><!-- Main row end -->
      </div><!-- Conatiner end -->
    </section><!-- Main container end -->
  
    <app-footer></app-footer>
    </div>
  </div>
