
.ts-service-info
{
    margin-bottom: 2vh;
}

.newsDescriptionHolderMin
{
    height: 10vh !important;
    margin-bottom: 1vh;
}

.newsDescriptionHolder
{
    height: 28vh;
    margin-bottom: 1vh;
    /* overflow-y: hidden; */
}


.newsDescriptionHolderHeadline
{
height: 20vh;
}

@media only screen and (max-width: 380px) {
     .newsDescriptionHolderHeadline{
        height: 100px;
        margin-bottom: 200px;
    }
  }


