<div *ngIf="isHome" class="home">
  <section id="facts" class="facts-area dark-bg">
    <div class="container">
      <div class="facts-wrapper">
        <div class="row">
          <div class="col-md-3 col-sm-3 ts-facts">
            <div class="ts-facts-content">
              <h2 class="ts-facts-num">
                <span class="counterUp" data-count="1789">30</span>
              </h2>
              <h3 class="ts-facts-title">{{'Total Warehouses' | translate}}</h3>
            </div>
          </div>
          <!-- Col end -->

          <div class="col-md-3 col-sm-3 ts-facts mt-5 mt-sm-0">

            <div class="ts-facts-content">
              <h2 class="ts-facts-num">
                <span class="counterUp" data-count="647">550</span>
              </h2>
              <h3 class="ts-facts-title">{{'Staff Members' | translate}}</h3>
            </div>
          </div>
          <!-- Col end -->

          <div class="col-md-3 col-sm-3 ts-facts mt-5 mt-md-0">
            <div class="ts-facts-content">
              <h2 class="ts-facts-num">
                <span class="counterUp" data-count="4000">20</span>
              </h2>
              <h3 class="ts-facts-title">{{'Total Trading Branches' | translate}}</h3>
            </div>
          </div>
          <!-- Col end -->

          <div class="col-md-3 col-sm-3 ts-facts mt-5 mt-md-0">
            <div class="ts-facts-content">
              <h2 class="ts-facts-num">
                <span class="counterUp" data-count="44">30</span>
              </h2>
              <h3 class="ts-facts-title">{{'commodities' | translate}}</h3>
            </div>
          </div>
          <!-- Col end -->
        </div>
        <!-- Facts end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!-- Facts end -->
  <section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          <div class="ts-intro">
            <h3 class="into-sub-title">{{ parent.title }}</h3>
            <p class="aboutHomeDescription" [innerHTML]="parent.description.substring(0, 800)"> 
          </div>
          <button *ngIf="parent.title.length" routerLink="about">{{'show more' | translate }}</button>
          <!-- Intro box end -->

          <div class="gap-20"></div>

          <div class="row">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
            <div *ngFor="let item of PageCatagories" class="col-md-6">
              <div class="ts-service-box">
                <div
                  [routerLink]="['/about']"
                  [queryParams]="{ detail: item.title }"
                  class="ts-service-box-content"
                >
                  <div class="service-box-title">
                    <i>
                      <img [src]="imagePath + item.imgName"  />
                    </i>
                    <h5>
                      {{ item.title
                      }}<i
                        class="fas fa-arrow-circle-right icon-carousel icon-next"
                      ></i>
                    </h5>
                  </div>
                </div>
              </div>
              <!-- Service 1 end -->
            </div>
            <!-- col end -->
          </div>
          <!-- Content row 1 end -->
        </div>
        <!-- Col end -->

        <div *ngIf="parent.title.length" class="col-lg-6 mt-4 mt-lg-0">
          <h3 class="service-box-title">{{'values' | translate}}</h3>
          <p>
           {{'valueDescription' | translate}} 
          </p>

          <div class="accordion accordion-group" id="our-values-accordion">
            <div class="card" (click)="toggleMenu(0)">
              <div class="card-header p-0 bg-transparent" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    {{'objective' | translate}}
                  </button>
                </h2>
              </div>

              <div
                *ngIf="menuExpanded === 0"
                id="collapseOne"
                class="collapse show"
                aria-labelledby="headingOne"
                data-parent="#our-values-accordion"
              >
                <div class="card-body">
                   {{'objectiveDescription' | translate}}
                </div>
              </div>
            </div>
            <div class="card" (click)="toggleMenu(1)">
              <div class="card-header p-0 bg-transparent" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    {{'mission' | translate}}
                  </button>
                </h2>
              </div>
              <div
                *ngIf="menuExpanded === 1"
                id="collapseTwo"
                aria-labelledby="headingTwo"
                data-parent="#our-values-accordion"
              >
                <div class="card-body">
                 {{'missionDescription' | translate}}
                </div>
              </div>
            </div>

            <div class="card" (click)="toggleMenu(2)">
              <div class="card-header p-0 bg-transparent" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    {{'vision' | translate}}
                  </button>
                </h2>
              </div>
              <div
                *ngIf="menuExpanded === 2"
                id="collapseTwo"
                aria-labelledby="headingTwo"
                data-parent="#our-values-accordion"
              >
                <div class="card-body">
                 {{'visionDescription'| translate}}
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->
        </div>
        <!-- Col end -->
      </div>
      <!-- Row end -->
    </div>
    <!-- Container end -->
  </section>
  <!-- Feature are end -->
</div>

<div *ngIf="!isHome" class="detailAll">
  <div class="body-inner">
    <app-ticker></app-ticker>
    <app-header></app-header>
    <app-breadcrumbs
      [title]="data.title"
      [parent]="parentTitle"
      [image]="data.imgName"
    ></app-breadcrumbs>

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <div class="sidebar sidebar-left">
              <div class="widget">
                <h3 class="widget-title">{{'catagories' | translate}}</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul
                  *ngFor="let item of PageCatagories"
                  class="nav service-menu"
                >
                  <li>
                    <a
                      [routerLink]="['/about']"
                      [queryParams]="{ detail: item.title }"
                    >
                      {{ item.title  }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      
          <!-- data -->
          <div class="col-xl-9 col-lg-8">
            <div class="content-inner-page">
        
              <h2 class="column-title mrt-0">{{ data.title }}</h2>

              <div class="row">
                <div class="col-md-12">
                  <p [innerHTML]="data.description">
                </div>
                <!-- col end -->
              </div>
              <!-- 1st row end-->

              <div class="gap-40"></div>

              <div id="page-slider" class="page-slider">
                <div class="item">
                  <img
                    loading="lazy"
                    class="img-fluid headlineImage"
                    style="width: 400vh; height: 50vh"
                    [src]="imagePath + data.imgName"
                    alt="project-slider-image"
                  />
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- pages -->
        <div class="sidebar sidebar-left">
          <div class="widget">
            <h3 class="widget-title">{{'related' | translate}}</h3>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let item of pages" class="col-lg-4 col-md-6 mb-5">
            <div class="card">
              <div class="card__header">
                <img
                  loading="lazy"
                  class=""
                  [src]="imagePath + item.imgName"
                  alt="project-slider-image"
                />
              </div>
              <div class="card__body">
                <span class="tag tag-brown">{{'about us' | translate}}</span>
                <h5>{{ item.title }}</h5>
                <p [innerHTML]="item?.description.substring(0, 200)"> 
              </div>
              <div class="card__footer">
                <div class="user">
                  <a
                    class="learn-more d-inline-block"
                    [routerLink]="['/about']"
                    [queryParams]="{ pages: item.title +','+ item.catagoryId,}"
                    aria-label="service-details"
                    ><i class="fa fa-caret-right seemore"></i>{{'show more' | translate}}</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Col 1 end -->
        </div>
      </div>
    </section>
    <!-- Main container end -->

    <app-footer></app-footer>
  </div>
</div>
