
<div *ngIf="!isHome" class="detailAll">
  <div class="body-inner">
    <app-ticker></app-ticker>
    <app-header></app-header>
    <app-breadcrumbs
      [title]="data.title"
      [parent]="parentTitle"
      [image]="data.imgName"
    ></app-breadcrumbs>

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <div class="sidebar sidebar-left">
              <div class="widget">
                <h3 class="widget-title">{{'catagories' | translate}}</h3>
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                <ul
                  *ngFor="let item of PageCatagories"
                  class="nav service-menu"
                >
                  <li>
                    <a
                      [routerLink]="['/support']"
                      [queryParams]="{ detail: item.title }"
                    >
                      {{ item.title }}
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Widget end -->
            </div>
            <!-- Sidebar end -->
            <div class="Desktop sidebar sidebar-left">
              <div class="widget">
                <div class="widget Legends Desktop">
                  <h4 class="widget-title">{{'Contract' | translate}}</h4>
                  <div class="legend-list">
                    
                    <ul class="attachedList">
                      <li>
                        <img class="iconicImage" src="../../../assets/images/attach.jpg" />&nbsp;
                        <a
                          (click)="DownloadFile(data?.imgName, data?.title + '_contract')"
                          download
                          href="{{ downloadroute }}"
                          >{{ data?.title  }}</a
                        >
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar Col end -->

        

          <div class="col-xl-9 col-lg-8">
            <div class="content-inner-page">
              <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
              <h2 class="column-title mrt-0">{{data.title}}</h2>

              <div class="row">
                <div class="col-md-12">
                  <p [innerHTML]="data?.description"> 
                </div>
                <!-- col end -->
              </div>
              <!-- 1st row end-->
            </div>
            <!-- Content inner end -->

            <!-- Main row end -->
          </div>
          <!-- Content Col end -->
           <div class="container">
            <div class="mobile sidebar sidebar-left">
              <div class="widget">
                <div class="widget Legends">
                  <h4 class="widget-title">{{'Contract' | translate}}</h4>
                  <div class="legend-list">
                    
                    <ul class="attachedList">
                      <li>
                        <img class="iconicImage" src="../../../assets/images/attach.jpg" />&nbsp;
                        <a
                          (click)="DownloadFile(data?.imgName, data?.title + '_contract')"
                          download
                          href="{{ downloadroute }}"
                          >{{ data.title }}</a
                        >
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
            </div>
           </div>
    
        </div>
        <!-- Main row end -->

        <div *ngIf="pages.length" class="sidebar sidebar-left">
          <div class="widget">
            <h3 class="widget-title">{{'related' | translate}}</h3>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let item of pages" class="col-lg-4 col-md-6 mb-5">
            <div class="card">
              <div class="card__header">
                <img
                  loading="lazy"
                  class=""
                  [src]="imagePath + item.imgName"
                  alt="project-slider-image"
                />
              </div>
              <div class="card__body">
                <span class="tag tag-brown">{{'customer support' | translate}}</span>
                <h5>{{ item.title }}</h5>
                <p [innerHTML]="item.description.substring(0, 150) + '...' "> 
              </div>
              <div class="card__footer">
                <div class="user">
                  <a
                    class="learn-more d-inline-block"
                    [routerLink]="['/support']"
                    [queryParams]="{ pages: item.title +','+ item.catagoryId,}"
                    aria-label="service-details"
                    ><i class="fa fa-caret-right"></i>{{'show more' | translate}}</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Col 1 end -->
        </div>
        <!-- Main row end -->
      </div>
      <!-- Conatiner end -->
    </section>
    <!-- Main container end -->

    <app-footer></app-footer>
  </div>
</div>

