
<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container text-center">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">{{"contact us" | translate}}</h3>
            <div class="footer-social">
              <ul>
                <li class="iconHover"><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                      class="fab fa-facebook-f"></i></a></li>
                <li class="iconHover"><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="iconHover"><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                      class="fab fa-instagram"></i></a></li>
              </ul>
            </div><!-- Footer social end -->
          </div><!-- Col end -->

          <div class="col-lg-4 col-md-6 footer-widget">
            <h3 class="widget-title">{{'Working Hour' | translate}}</h3>
            <div class="footer-social">
              {{"Monday - Friday" | translate}}: <span>{{'Working Hours' | translate}} </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">{{"address" | translate}}</h3>
            <div class="footer-social">
              <ul class="list-arrow">
                <li><a>{{"Short Code" | translate}}: 929</a></li><br/>
                <li><a>{{"SMS" | translate}}: 934</a></li><br/>
                <li><a>{{"Email" | translate}}: info@ecx.et.com</a></li>
              </ul>
            </div><!-- Footer social end -->
          </div><!-- Col end -->

          <!-- <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title">{{'Quick Links' | translate}}</h3>
            <ul class="list-arrow">

              <li><a href="service-single.html">{{'Online Training Registration' | translate}}</a></li>
              <li><a href="service-single.html">{{'Market Data user Registration' | translate}}</a></li>
              <li><a href="service-single.html">{{'Frequently Asked question' | translate}}</a></li>
            </ul>
          </div> -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="copyright-info text-center">
              <span>{{'Copyright' | translate}} &copy; <script>
                  document.write(new Date().getFullYear())
                </script>, {{'Designed' | translate}} &amp; {{'Developed' | translate}} {{'by' | translate}} <a href="https://themefisher.com">{{'ECX' | translate}}</a></span>
            </div>
          </div>

        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div><!-- Container end -->
    </div><!-- Copyright end -->
  </footer><!-- Footer end -->