<section id="ts-team" class="ts-team">
    <div class="container">
      <div class="row text-center">
          <div class="col-lg-12">
            <h3 class="section-sub-title">Commodities</h3>
            <div class="commodity" id="commodity">
             <div class="comodityHolder">
               <owl-carousel-o [options]="customOptions">
              
               <ng-template carouselSlide>
                 <div class="cards">
                   <div class="card__collection clear-fix">
                   <div class="cards cards--two">
                     <img src="../../../assets/images/commodity/image/Chana.jpg"
                          class="img-hover-zoom--brightness" alt="Cards Image">
                   </div>
                   </div>
                   <p>Chana</p>
                 </div>  
               </ng-template>
               <ng-template carouselSlide>
               <div class="cards">
                 <div class="card__collection clear-fix">
                 <div class="cards cards--two">
                   <img src="../../../assets/images/commodity/image/Wheat.jpg"
                        class="img-hover-zoom--brightness" alt="Cards Image">
                 </div>
                 </div>
                 <p>Wheat</p>
               </div>
               
               </ng-template>
               <ng-template carouselSlide>
               <div class="cards">
                 <div class="card__collection clear-fix">
                 <div class="cards cards--two">
                   <img src="../../../assets/images/commodity/image/Soybean.jpg"
                        class="img-hover-zoom--brightness" alt="Cards Image">
                 </div>
                 </div>
                 <p>Soybean</p>
               </div>
               
               </ng-template>
               <ng-template carouselSlide>
                   <div class="cards">
                     <div class="card__collection clear-fix">
                     <div class="cards cards--two">
                       <img src="../../../assets/images/commodity/image/29-mm-Cotton.jpg"
                           class="img-hover-zoom--brightness" alt="Cards Image">
                     </div>
                     </div>
                     <p>Cotton</p>
                   </div>
                   
               </ng-template>
               <ng-template carouselSlide>
                   <div class="cards">
                     <div class="card__collection clear-fix">
                     <div class="cards cards--two">
                       <img src="../../../assets/images/commodity/image/Bajra.jpg"
                           class="img-hover-zoom--brightness" alt="Cards Image">
                     </div>
                     </div>
                     <p>Bajara</p>
                   </div>
                   
               </ng-template>
               <ng-template carouselSlide>
                   <div class="cards">
                     <div class="card__collection clear-fix">
                     <div class="cards cards--two">
                       <img src="../../../assets/images/commodity/image/Coffee.jpg"
                           class="img-hover-zoom--brightness" alt="Cards Image">
                     </div>
                     </div>
                     <p>Coffee</p>
                   </div>
                   
               </ng-template>
                 
                 </owl-carousel-o>
                 </div>
             </div>
          </div>
      </div><!--/ Title row end -->
  
    </div><!--/ Container end -->
  </section><!--/ Team end -->