<div class="content-inner-page">

    <h2 class="column-title mrt-0">title</h2>

    <div class="row">
      <div class="col-md-12 chart-wrapper">
        <canvas  
               baseChart
               width="600"
               height="400"
               type="line"
               [data]="lineChart"> </canvas>
      </div><!-- col end -->
    </div><!-- 1st row end-->

    <div class="gap-40"></div>

    <div id="page-slider" class="page-slider">
      <div class="item">
        <img loading="lazy" class="img-fluid" 
            alt="project-slider-image" />
      </div>

    </div>

  </div><!-- Content inner end -->
