<section id="project-area" class="project-area solid-bg">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
         
          <h3 class="section-sub-title">Market Data</h3>
        </div>
      </div>
      <!--/ Title row end -->
  
      <ng-container *ngIf="(asyncTabs | async) === null">
        Loading tabs...
      </ng-container>
      
      <mat-tab-group>
        <mat-tab *ngFor="let tab of asyncTabs | async">
          <ng-template mat-tab-label>{{tab.label}}</ng-template>
          {{tab.content}}
        </mat-tab>
      </mat-tab-group>
    </div>
    <!--/ Container end -->
  </section><!-- Project area end -->




  
 