<section *ngIf="isHome" id="project-area" class="project-area solid-bg">


      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
           
            <h3 class="section-sub-title">Market Data</h3>
          </div>
        </div>
        <!--/ Title row end -->
    
        <ng-container *ngIf="(asyncTabs | async) === null">
          Loading tabs...
          
        </ng-container>
  
        <div class="searchHolder">
          <input class="mr-sm-2 searchInput" (keyup)="Filterchange($event)" type="search" placeholder="Search" aria-label="Search">
        </div>
        
        <mat-tab-group>
          <mat-tab *ngFor="let tab of asyncTabs | async">
            <ng-template mat-tab-label>{{tab.label}}</ng-template>
             <mat-card> 
              <table  matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
              <!-- Contract Column -->
              <ng-container matColumnDef="TD">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> TD </th>
                <td mat-cell *matCellDef="let element" (mouseover)="highlightRow(element,-10)"> {{element.TradeDate}} </td>
              </ng-container>

              <ng-container matColumnDef="SY">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> SY </th>
                <td mat-cell *matCellDef="let element; let i = index" (mouseover)="highlightRow(element,i)">
                  <div class="">{{element.Symbol}}</div> 
                  <div *ngIf="Descriptionelement == i" class="symbolDescription">description</div> 
                </td>
              </ng-container>
              
            
              <!-- Month Column -->
              <ng-container matColumnDef="WCODE">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> WCODE </th>
                <td mat-cell *matCellDef="let element"> {{element.WarehouseCode}} </td>
              </ng-container>
            
              <!-- Open Column -->
              <ng-container matColumnDef="PYEAR">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> PYEAR </th>
                <td mat-cell *matCellDef="let element"> {{element.ProductionYear}} </td>
              </ng-container>
            
        
  
               <!-- Low Column -->
               <ng-container matColumnDef="OP">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> OP </th>
                <td mat-cell *matCellDef="let element"> {{element.OpeningPrice}} </td>
              </ng-container>
            
              <!-- Last Column -->
              <ng-container matColumnDef="CP">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> CP </th>
                <td mat-cell *matCellDef="let element"> {{element.ClosingPrice}} </td>
              </ng-container>
  
                          <!-- Changes Column -->
              <ng-container matColumnDef="DH">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> DH </th>
                <td mat-cell *matCellDef="let element">
                    {{element.DayHigh}}
                  </td>
              </ng-container>
  
               <!-- Time Column -->
               <ng-container matColumnDef="DL">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> DL </th>
                <td mat-cell *matCellDef="let element"> {{element.DayLow}} </td>
              </ng-container>

               <!-- Time Column -->
               <ng-container matColumnDef="DIFF">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> DIFF </th>
                <td mat-cell *matCellDef="let element">
                      <i *ngIf="element.Difference > 0" class="fa fa-caret-up increaseIcon" aria-hidden="true"></i>
                  <i *ngIf="element.Difference < 0" class="fa fa-caret-down decreaseIcon" aria-hidden="true"></i>
                  <i *ngIf="element.Difference === 0" class="fa fa-caret-up constantIcon" aria-hidden="true"></i>
                    <label *ngIf="element.Difference < 0">{{-1*element.Difference}}</label>
                    <label *ngIf="element.Difference >= 0">{{element.Difference}}</label>
                   </td>
              </ng-container>



                <!-- Time Column -->
                <ng-container matColumnDef="VLOT">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> VLOT </th>
                  <td mat-cell *matCellDef="let element"> {{element.VolumeInLot}} </td>
                </ng-container>
                  <!-- Time Column -->
               <ng-container matColumnDef="VQUINTAL">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> VQUINTAL </th>
                <td mat-cell *matCellDef="let element"> {{element.VolumeInQuintal}} </td>
              </ng-container>
              
                  <!-- Time Column -->
               <ng-container matColumnDef="PC">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> PC </th>
                <td mat-cell *matCellDef="let element"> {{element.PreviousClosing}} </td>
              </ng-container>
            
              <!-- Links Column -->
              <ng-container matColumnDef="Links">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Links </th>
                <td mat-cell *matCellDef="let element">
                  <a  [routerLink]="['/marketdata']"
                      [queryParams]="{ detail: 'histogram'}" >
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Links
                  </a>
                </td> 
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
             </mat-card>
          
          </mat-tab>
        </mat-tab-group>
      </div>
      <br>
      <mat-card-footer>
  
          <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  
      </mat-card-footer>
  
 
    <!--/ Container end -->
</section><!-- Project area end -->

<div *ngIf="!isHome" class="detailAll">
  <div class="body-inner">

    <app-ticker></app-ticker>
    <app-header></app-header> 
    <app-breadcrumbs [title]="title"></app-breadcrumbs>

  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">

        <div class="col-xl-3 col-lg-3">
          <div class="sidebar sidebar-left">
            <div class="widget">
              <h3 class="widget-title">Categories</h3>
              <ul class="nav service-menu">
                 <li>
                  <a class="learn-more d-inline-block" 
                  [routerLink]="['/marketdata']"
                  [queryParams]="{ detail: 'Daily High and Low Price'}"
                  aria-label="service-details"> Daily High and Low Price </a>
                </li>
              </ul>
              <ul class="nav service-menu">
                <li>
                  <a class="learn-more d-inline-block" 
                  [routerLink]="['/marketdata']"
                  [queryParams]="{ detail: 'Daily Trade Data'}"
                  aria-label="service-details"> Daily Trade Data </a>
                </li>
              </ul>
              <ul class="nav service-menu">
                <li>
                  <a class="learn-more d-inline-block" 
                  [routerLink]="['/marketdata']"
                  [queryParams]="{ detail: 'Historical Data'}"
                  aria-label="service-details"> Historical Data </a>
                </li>
              </ul>
              <ul class="nav service-menu">
                <li>
                  <a class="learn-more d-inline-block" 
                  [routerLink]="['/marketdata']"
                  [queryParams]="{ detail: 'Reports'}"
                  aria-label="service-details"> Reports </a>
                </li>
              </ul>
            </div><!-- Widget end -->


          </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->

        <div class="col-xl-8 col-lg-8">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
                 <div *ngIf="switcher == 'histogram'"><app-histogram></app-histogram></div>
                 <div *ngIf="switcher == 'Daily Trade Data'"><app-daily-trade-data></app-daily-trade-data></div>
                 <div *ngIf="switcher == 'Daily High and Low Price'"><app-daily-high-and-low-price></app-daily-high-and-low-price></div>
                 <div *ngIf="switcher == 'Historical Data'"><app-historical-data></app-historical-data></div>
                 <div *ngIf="switcher == 'Reports'"><app-reports></app-reports></div>
            </div>
          </div>
        </div><!-- Content Col end -->


      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->

   <app-footer></app-footer>
  </div>
</div>




  
 